include ./social_media.pug
mixin footer()
  footer.FooterPagina.u-center
    p.FooterPagina-texto.c1xr1.FooterPagina-Titulos ¿NECESITAS AYUDA?
    p.FooterPagina-texto.c2xr1.FooterPagina-Titulos GAMA PEUGEOT
    p.FooterPagina-texto.c3xr1.FooterPagina-Titulos LLAMA A NUESTRO SERVICIO DE ATENCIÓN AL CLIENTE
    p.FooterPagina-texto.c1xr2 CONTACTO
    p.FooterPagina-texto.c1xr3 PEGUNTAS FRECUENTES(FAQS)
    p.FooterPagina-texto.c1xr4 PEUGEOT ASSISTANCE
    p.FooterPagina-texto.c1xr5 ENCUENTRA TU CONCESIONARIO
    p.FooterPagina-texto.c2xr2 URBANOS
    p.FooterPagina-texto.c2xr3 FAMILIARES
    p.FooterPagina-texto.c2xr4 SUVS
    p.FooterPagina-texto.c2xr5  DEPORTIVOS
    p.FooterPagina-texto.c2xr6 DIESEL (HDI)
    p.FooterPagina-texto.c2xr7  PROFESIONAL
    p.FooterPagina-texto.c3xr2 012800527384368 (PEUGEOT)
    .FooterPagina-RedesSociales
      +socialMedia([ ['github', 'http://github.com/jonmircha'], ['youtube', 'http://youtube.com/bextlancom'], ['envelope', 'mailto:jonmircha@gmail.com'], ['twitter', 'http://twitter.com/@jonmircha'], ['codepen', 'http://codepen.io/jonmircha/'] ])