

.Promociones{
  display: grid;
  color: rgb(0, 0, 0);
  background: white;
  padding-top: 1rem;
  overflow: hidden;
  @media screen and (min-width: 64em) { height:100vh ; }
  &-Titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-Titulo{
    font-size: 5vw;
    @media screen and (min-width: 64em) { font-size: 2vw; }
  }
  &-SubTitulo{
    font-size: 3vw;
    padding-top: .5rem;
    @media screen and (min-width: 64em) { font-size: 1.5vw; }
  }
  &-Imagen{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 2em;
    height: 50vh;
    @media screen and (min-width: 64em) { 
      width: 100vw; 
      height: 65vh; 
      transition: all 1s ease-out;
    }
  }
}

.Opciones{
  color: #FFF;
  display: grid;
  font-family: 'Roboto', sans-serif ;
  margin: 5vh 0;
  &-Titulos{
    display: flex;
    justify-content: center;
  }
  &-Galleria{
    width: 100vw;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
      margin: 2vh 0 ;
      object-fit: cover;
      width: 90%;
    }
    .Galleria-Descripcion{
      padding: 1vh;  
      text-align: justify;
      font-size: 3vw;
    }
  }
  @media screen and (min-width: 64em) { 
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    &-Galleria{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      .Galleria-Imagene{
        padding: 1vh;
      }
      .Galleria-Imagene:nth-of-type(1){
        grid-column: 1;
        grid-row: 1;
      }
      .Galleria-Imagene:nth-of-type(2){
        grid-column: 3;
        grid-row: 2;
      }
      .Galleria-Imagene:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
      }

      .Galleria-Descripcion{
        padding: 1vh 5vh;
        font-size: 1.5vw;
      }

      .Galleria-Descripcion:nth-of-type(1){
        grid-column: 2/span 2;
        grid-row: 1;
      }
      .Galleria-Descripcion:nth-of-type(2){
        grid-column: 1/ span 2;
        grid-row: 2;
      }
      .Galleria-Descripcion:nth-of-type(3){
        grid-column: 2 /span 2;
        grid-row: 3;
      }
    } 
  }
}

