.u-center { text-align: center; }

.c1xr1 {
  grid-column:  1;
  grid-row:  1;
}

.c1xr2 {
  grid-column:  1;
  grid-row: 2;
}

.c1xr3 {
  grid-column:  1;
  grid-row: 3;
}

.c1xr4 {
  grid-column:  1;
  grid-row: 4;
}

.c1xr5 {
  grid-column:  1;
  grid-row: 5;
}
.c1xr6 {
  grid-column:  1;
  grid-row: 6;
}
.c1xr7 {
  grid-column:  1;
  grid-row: 7;
}

//COLUMNA 2 
.c2xr1 {
  grid-column:  2;
  grid-row:  1;
}

.c2xr2 {
  grid-column:  2;
  grid-row:  2;
}
.c2xr3 {
  grid-column:  2;
  grid-row:  3;
}
.c2xr4 {
  grid-column:  2;
  grid-row:  4;
}
.c2xr5 {
  grid-column:  2;
  grid-row:  5;
}
.c2xr6 {
  grid-column:  2;
  grid-row:  6;
}
.c2xr7 {
  grid-column:  2;
  grid-row:  7;
}

//COLUMNA 3
.c3xr1 {
  grid-column:  3;
  grid-row:  1;
} 
.c3xr2 {
  grid-column:  3;
  grid-row:  2;
} 
.c3xr3 {
  grid-column:  3;
  grid-row:  3;
} 
.c3xr4 {
  grid-column:  3;
  grid-row:  4;
} 
.c3xr5 {
  grid-column:  3;
  grid-row:  5;
} 
.c3xr6 {
  grid-column:  3;
  grid-row:  6;
} 
.c3xr7 {
  grid-column:  3;
  grid-row:  7;
} 