extends ../includes/layout.pug
include ../includes/components/header_video.pug
include ../includes/components/navigation_off_canvas.pug

block metatags
  -var title = 'Peugeot'
  -var description = 'kikisvv@hotmail.com'
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  main.App
  +headerVideo('Orchestra', 'Peugeot', 'MOTION & EMOTION')