extends ../includes/layout.pug
include ../includes/components/youtube_video.pug
block metatags
  -var title = 'kEnAi NPM Starter Kit'
  -var description = 'Kit de inicio para desarrollo frontend basado en componentes (Pug, Sass y JS)  y automatizado con Scripts NPM desarrollado por @jonmircha'
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  main.App
   h1  Hola mundo ._.)/ 