extends ../includes/layout.pug
include ../includes/components/header_video.pug
include ../includes/components/navigation_off_canvas.pug

block metatags
  -var title = 'Peugeot'
  -var description = 'kikisvv@hotmail.com'
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  main.App
  +headerVideo('Orchestra', 'Peugeot', 'MOTION & EMOTION')
  section.Promociones
    .Promociones-Contenedor
      div.Promociones-Titulos
        p.Promociones-Titulo soy un titulo
        p.Promociones-SubTitulo Soy un sub titulo
      .Promociones-Imagen
        img(src="#" alt="nada")